@use '../../styles/variables';

:host-context(body.dark-mode) {
  .single-country {
    background-color: variables.$dark-elements;
    color: variables.$white;
  }
}

.single-country {
  display: block;
  width: 100%;
  font-size: variables.$font-size-14;
  background-color: variables.$white;
  border-radius: variables.$space-4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;


  &__image {
    border-top-left-radius: variables.$space-4;
    border-top-right-radius: variables.$space-4;
    width: 100%;
    height: 160px;
  }

  &__title {
    font-size: variables.$font-size-18;
    font-weight: 800;
    margin-bottom: variables.$space-16;
  }

  &__info {
    min-height: 130px;
    padding: variables.$space-20;
  }

  &__region {
    margin-block: variables.$space-4;
  }
}
