:host-context(body.dark-mode) {
  .single-country {
    background-color: hsl(209, 23%, 22%);
  }
}

.single-country {
  width: 100%;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;


  &__image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 160px;
  }

  &__title {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 16px;
  }

  &__info {
    min-height: 130px;
    padding: 18px;
  }

  &__region {
    margin-block: 4px;
  }
}
