@use '../../styles/variables';

:host-context(body.dark-mode) {
  .header {
    background-color: variables.$dark-elements;

    &__title {
      color: variables.$white;
    }

    &__dark-mode-button {
      color: variables.$white;
      fill: variables.$white;
    }
  }
}

.header {
  background-color: variables.$white;
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 22px 0 rgba(0, 0, 0, 0.02);

  &__content {
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: variables.$font-size-22;
    font-weight: 800;

    @media screen and (max-width: 575px) {
      font-size: variables.$font-size-16;
    }
  }

  &__dark-mode-button {
    border: none;
    background-color: transparent;
    font-size: variables.$space-16;
    display: flex;
    align-items: center;
    gap: variables.$space-4;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      font-size: variables.$font-size-14;
    }
  }

}

