@use '../../styles/variables';

:host-context(body.dark-mode) {
  #search-input {
    background-color: variables.$dark-elements;
    color: variables.$white;

    &::placeholder {
      color: variables.$white;
    }
  }

  #region {
    background-color: variables.$dark-elements;
    color: variables.$white;
  }
}

.countries {
  &__search-and-filter {
    display: flex;
    justify-content: space-between;
    margin-block: variables.$space-40;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: variables.$space-64;
    margin-bottom: variables.$space-32;
  }
}

#search-input {
  height: variables.$space-40;
  width: 400px;
  border: 0;
  border-radius: variables.$space-4;
  padding-left: variables.$space-20;
}

#region {
  border: 0;
  border-radius: variables.$space-4;
  width: 170px;
  padding-inline: variables.$space-12;
}
