@use '../../styles/variables';

:host-context(body.dark-mode) {
  #search-input {
    background-color: variables.$dark-elements;
    color: variables.$white;

    &::placeholder {
      color: variables.$white;
    }
  }

  #region {
    background-color: variables.$dark-elements;
    color: variables.$white;
  }

  #region,
  ::picker(select) {
    background-color: variables.$dark-elements;
    color: variables.$white;
  }
}

.countries {
  &__search-and-filter {
    display: flex;
    justify-content: space-between;
    margin-block: variables.$space-40;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: variables.$space-64;
    margin-bottom: variables.$space-32;

    @media screen and (max-width: 1100px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 575px) {
      grid-template-columns: 1fr;
    }
  }
}

#search-input {
  height: variables.$space-40;
  width: 400px;
  border: 0;
  border-radius: variables.$space-4;
  padding-left: variables.$space-20;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 2px 22px 0 rgba(0, 0, 0, 0.02);


  @media screen and (max-width: 900px) {
    width: auto;
  }
}

#region {
  border: 0;
  border-radius: variables.$space-4;
  background-color: variables.$white;
  font-size: variables.$font-size-14;
  width: 170px;
  display: flex;
  align-items: center;
  height: 42px;
  padding-inline: variables.$space-16;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 2px 22px 0 rgba(0, 0, 0, 0.02);

  @media screen and (max-width: 900px) {
    width: 50%;
  }
}

#region,
::picker(select) {
  appearance: base-select;
  border: none;
  margin-top: variables.$space-4;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 2px 22px 0 rgba(0, 0, 0, 0.02);
  padding-block: variables.$space-12;
}

option {
  padding-block: variables.$space-4;
}

option::checkmark {
  content: "";
}


