@use '../../styles/variables';

p {
  font-size: variables.$font-size-16;
}

.country-detail {
  &__back-button {
    display: inline-flex;
    align-items: center;
    gap: variables.$space-8;
    padding: variables.$space-8 variables.$space-32;
    border-radius: variables.$space-4;
    margin-block: variables.$space-80;
    background-color: variables.$white;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 22px 0 rgba(0, 0, 0, 0.02);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 10%;
    align-items: center;
  }

  &__flag {
    width: 100%;
  }

  &__info-wrapper {

  }

  &__title {
    font-size: variables.$font-size-26;
    font-weight: 800;
    margin-bottom: variables.$space-32;
  }

  &__data {
    display: flex;
    justify-content: space-between;

    &--left, &--right {
      display: flex;
      flex-direction: column;
      gap: variables.$space-8;
    }
  }

  &__border-countries {
    margin-top: variables.$space-56;
  }
}
