//colors
$dark-elements: hsl(209, 23%, 22%);
$dark-background: hsl(207, 26%, 17%);
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 50%);
$light-background: hsl(0, 0%, 97%);
$white: hsl(0, 100%, 100%);
$error-light: hsl(0, 91%, 91%);
$error-dark: hsl(356, 78%, 46%);
$loading-spinner: hsl(39, 77%, 83%);

//spacings
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;

//font sizes
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

