/* You can add global styles to this file, and also import other style files */
@use 'styles/utils';

body, h1, h2, p {
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: hsl(200, 15%, 8%);
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 100%, 100%);
}

.light-mode {
  background-color: hsl(0, 0%, 97%);
  color: hsl(200, 15%, 8%);
}



