/* You can add global styles to this file, and also import other style files */
@use 'styles/utils';
@use 'styles/variables';

body, h1, h2, h3, p, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: variables.$light-text;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: variables.$light-text;
}

.dark-mode {
  background-color: variables.$dark-background;
  color: variables.$white;
}

.light-mode {
  background-color: variables.$light-background;
  color: variables.$light-text;
}



